.bdo-objective-panel-row,.bdo-achievement-panel-row {
	margin-bottom: 5px;
}

.align-right {
	text-align: right;
}

.bdo-form textarea,select {
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3) inset;
}

.quarterly-bdo-tracker .panel-body {
	padding: 0px;
}

.bdo-form select {
	height: 30px;
	border-radius: 3px;
}

.bdo-form textarea {
	height: 60px;
}

.bdo-form .objective-desc {
	color: #808080;
}

.bdo-form .error-img {
	border-radius: 50%;
	padding-left: 8px;
	padding-right: 8px;
	color: white;
	text-align: center;
	font: 17px Arial, sans-serif;
	background: #D00000;
}

.bdo-form .error {
	font-style: italic;
	font-weight: bold;
	color: #D00000;
}

.bdo-form .success-msg {
	font-size: medium;
	font-style: italic;
	color: #339900;
}

.button-wrapper {
	padding-top: 15px;
	padding-left: 0px;
}

.bdo-form .status-msg {
	color: #d2322d;
	font-style: italic;
}

.bdo-form .status-msg .status {
	font-weight: bold;
	font-style: normal;
}

.checkin_tabs .tab_title {
	font-size: 18px;
	line-height: 24px;
	text-align: left;
}