
.nav_login_container {
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    margin-top: 5%; 
    width: 100%;
	border-radius: 8px;
	box-shadow: 0 0.3em 1em #999999;
    padding: 15px 5px 0 5px;
    background: url("../images/white_login.jpg") repeat scroll center bottom rgba(0, 0, 0, 0);
}


.login_field {
    border: 1px solid #234A91;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
    width: auto;
    background-color: white;
}


.login_field img {
    float: left;
    margin: 0 8px 3px 3px;
    vertical-align : middle;
}

.login_field input {
    background-color: #E4EDFF;
    border: medium none rgba(0, 0, 0, 0);
    margin: 0;
    outline: 0 none;
    padding: 5px;
    width: 84%;
    color: black;
}


.login_check {
    float: left;
}


.login_check input[type="checkbox"] {
    margin-left: 0;
}
input[type="checkbox"] {
    margin: -2px 8px 0 14px;
    outline: 0 none;
    vertical-align: middle;
}


.login_button_wrapper {
    float: right;
    text-align: center;
    width: 113px;
}


.login_button_wrapper .login_button {
    background: url("../images/loginbutton.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    font-size: 18px;
    height: 42px;
    margin: 0;
    padding: 0 1px 3px 14px;
    text-align: left;
    text-shadow: 3px 0 4px #D0E59F;
    width: 104px;
}



.login_button_wrapper .forget {
    color: #FFFFFF;
    text-decoration: none;
}